@import 'src/components/GlobalStyles/GlobalVariables';

.wrapper {
    display: flex;

    .feed-item {
        height: 450px;
        border: 2px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-bottom: 10px;
    }

    .desc {
        background-color: $header-color-a;
        width: 80%;
        padding: 10px;
        text-align: center;
        border-radius: 6px;
    }

    h2,
    p {
        color: $primary-color;
        text-align: center;
    }
}
