@import 'src/components/GlobalStyles/GlobalVariables';

.info {
    background-color: $header-color-a;

    .price {
        font-family: 'Lato', sans-serif;
        font-size: 2rem;
        opacity: 1;
        transition: all 0.4s ease-out;
    }

    .old-price {
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        text-decoration-line: line-through;
        opacity: 1;
        transition: all 0.4s ease-out;
    }

    .buy {
        width: 100%;
        height: 60px;
        color: $white-color;
        background-color: $primary-color;
        border: none;
        font-size: 2rem;
        border-radius: 6px;
        transition: all 0.4s ease-out;
        cursor: pointer;

        &:hover {
            filter: brightness(150%);
        }
    }

    .origin,
    .type,
    .count {
        display: block;
        font-size: 2rem;
        // span {
        //     background-color: $yellow;
        //     color: $white-color;
        //     padding: 2px 4px;
        //     border-radius: 4px;
        // }
    }

    .counter {
        display: inline-block;
        margin: 10px 0 10px 90px;
        border: 1px solid black;
    }

    .up,
    .down {
        width: 30px;
        height: 30px;
        background-color: #b4d1e8;
        cursor: pointer;
        font-size: 2rem;
        border: none;
    }
    .value {
        display: inline-block;
        width: 30px;
        height: 100%;
        text-align: center;
        font-size: 2rem;
        background-color: $white-color;
    }

    h3 {
        text-align: center;
        font-size: 5rem;
        font-family: $font;
        margin: 30px 0 10px;
    }

    p {
        display: inline-block;
        margin: 0 5px 10px 0;
    }
}
