@import 'src/components/GlobalStyles/GlobalVariables';

.wrapper {
    position: relative;

    .logo {
        text-align: center;
        margin: 10px 0;
    }

    .logo-img {
        width: 50%;
    }

    .login {
        text-align: center;
    }
    & > svg {
        font-size: 4rem;
        color: $primary-color;
        cursor: pointer;
    }

    ul {
        padding: 0;
    }

    li {
        padding: 10px 0 10px 20px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            background-color: $header-color-a;
            transform: translateX(5px);
        }
    }
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    button {
        &:first-child {
            margin-right: 10px;
        }
    }
}
