$white-color: #fff;
$black-color: #000;
$text-color: #333;
$red: #803242;
$yellow: #807832;
// $primary-color: #3e5273;
$primary-color: #325080;
// $bg-header-color: rgb(231, 242, 251);
$bg-header-color: rgb(231, 242, 251);
$header-color-a: rgba(231, 242, 251, 0.8);
$header-height: 120px;
$default-height: 300px;
$width-search: 400px;
$font: 'Water Brush', cursive;
