@import 'normalize.css';
@import './grid.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Smooch&display=swap');
@import 'src/components/GlobalStyles/GlobalVariables';

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    // line-height: 1.5;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;
    overflow: hidden auto;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border: solid $primary-color;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    z-index: 10;
    -webkit-transform: rotate(-45deg);
}

.swiper-button-prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
