@import 'src/components/GlobalStyles/GlobalVariables';

.wrapper {
    flex: 1;

    .search-box {
        width: $width-search;
        height: 40px;
        padding-left: 50px;
        border: 1px solid $primary-color;
        border-radius: 20px;
        position: relative;
        &:focus-within {
            border: 2px solid $primary-color;
        }
        // overflow: hidden;
        .child {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            height: 100%;

            input {
                width: $width-search - 100px;
                position: absolute;
                left: -25px;
                top: 50%;
                transform: translateY(-50%);
                background-color: transparent;
                z-index: 2;
                border: none;
                outline: none;
                font-family: 'Red Hat Display';
                color: $primary-color;
                font-weight: 500;
                font-size: 1.2em;
            }

            .type-writer {
                position: absolute;
                left: -25px;
                top: 50%;
                transform: translateY(-50%);
                line-height: none;
            }

            .buttons {
                display: flex;
                align-items: center;

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }

                .btn-search {
                    border-left: 1px solid $primary-color;
                    padding: 0 16px;
                }
            }
        }
    }
}

.clear svg {
    color: $primary-color;

    &:hover {
        color: rgb(187, 31, 31);
    }
}

.btn-search svg {
    color: $primary-color;
}

.box-result {
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 4px;
    width: $width-search;

    .title,
    .more {
        text-align: center;
        padding: 20px 10px 10px;
        color: $primary-color;
    }

    .more:hover {
        font-weight: 600;
        background-color: $bg-header-color;
    }

    .more {
        padding-bottom: 20px;
        text-decoration: underline;
    }
}
