@import 'src/components/GlobalStyles/GlobalVariables';

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    height: 250px;

    h2 {
        color: #fff;
        margin: 0;
        margin-bottom: 20px;
        font-size: 4rem;
    }

    h4 {
        color: #fff;
        margin: 0;
        font-size: 2rem;
    }
}

.contact {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    // border-bottom: 3px solid $primary-color;
}
.info1 {
    // background-color: rgba(217, 230, 248, 0.8);
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 20px;
    transform: skew(-6deg);
    border: 5px double $primary-color;
    background-color: $header-color-a;
    color: $primary-color;
    h2 {
        text-align: center;
        margin-top: 0;
        font-size: 3rem;
    }
    span,
    p {
        margin: 0;
        text-align: left;
        display: block;
        font-size: 2rem;
    }
}
