@import 'src/components/GlobalStyles/GlobalVariables';

.info {
    position: relative;
    height: $default-height;
    font-family: 'Water Brush', cursive;
    font-size: 2.4rem;

    .tags {
        position: absolute;
        right: 60px;
        top: 40px;
        width: 1px;
        z-index: 10;
    }
    .sale,
    .new,
    .hot {
        width: 46px;
        margin: 2px 0;
        background-color: $yellow;
        color: #fff;
        border-radius: 5px;
        padding: 2px 2px;
        font-family: 'Lato', sans-serif;
        font-size: 1.7rem;
        text-align: center;
        line-height: 1.7rem;
    }

    .new {
        background-color: $primary-color;
    }
    .hot {
        background-color: $red;
    }

    .name {
        margin-bottom: 5px;
    }
    .name.watched {
        margin-bottom: 25px;
        text-align: center;
    }

    .image {
        filter: brightness(100%);
        transform: scale(1);
        transition: all 0.4s ease-out;
        width: 100%;
        // position: absolute;
    }

    span {
        position: absolute;
        top: 0;
        right: 20%;
        display: inline-block;
        padding: 4px;
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        background-color: $primary-color;
        color: $white-color;
        border-radius: 6px;
        opacity: 0.9;
    }

    &:hover .buy {
        display: block;
        transform: translateX(0);
        opacity: 1;
    }

    &:focus .buy {
        display: block;
        transform: translateX(0);
        opacity: 1;
    }

    &:hover .price {
        opacity: 0;
        left: -50px;
    }

    &:hover .old-price {
        opacity: 0;
        left: -50px;
    }
    &:hover .image {
        transform: scale(1.05);
        filter: brightness(110%);
    }
}

.desc {
    position: absolute;
    left: 0;
    bottom: 0;
}

.price-buy {
    height: 60px;
    position: relative;

    .price {
        position: absolute;
        left: 0;
        top: 0;
        font-family: 'Lato', sans-serif;
        font-size: 2rem;
        opacity: 1;
        transition: all 0.4s ease-out;
    }

    .old-price {
        position: absolute;
        left: 4px;
        top: 24px;
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        text-decoration-line: line-through;
        opacity: 1;
        transition: all 0.4s ease-out;
    }

    .buy {
        position: absolute;
        left: 0;
        top: 0;
        width: 120px;
        color: $white-color;
        background-color: $primary-color;
        border: none;
        opacity: 0;
        font-size: 2rem;
        transition: all 0.4s ease-out;
        cursor: pointer;
        transform: translateX(-50px);
    }

    p {
        margin: 0;
    }
}

.product-search {
    display: flex;
    height: 100px;
    width: 100%;
    border-radius: 4px;

    .search-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > div {
            color: $primary-color;
        }

        .search-name {
            font-size: 2rem;
        }
    }
    .search-img {
        cursor: pointer;
    }

    &:hover {
        background-color: $bg-header-color;
    }
    &:hover .delete {
        color: $red;
        visibility: visible;
        width: 70px;
        background-color: #e6cace;
    }
}

.counter {
    display: flex;
    align-items: center;
    height: 24px;
}

.up,
.down {
    width: 24px;
    height: 100%;
    color: $white-color;
    background-color: #b4d1e8;
    cursor: pointer;
    font-size: 2rem;
    border: none;
    border-radius: 25%;
    span {
        display: inline-block;
    }

    &:active {
        filter: brightness(110%);
    }
}

.down {
    margin-left: 10px;
}

.value {
    width: 30px;
    height: 100%;
    font-size: 2rem;
    text-align: center;
}

.delete {
    overflow: hidden;
    visibility: hidden;
    width: 0;
    padding: 0 10px;
    color: $primary-color;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:first-child {
        margin-bottom: 10px;
    }
    .trash {
        font-size: 20px;
    }
}

.delete-product {
    visibility: visible;
    color: $primary-color;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: transparent;
    padding-right: 8px;
    cursor: pointer;
    .trash {
        font-size: 20px;
    }

    &:hover {
        color: $red;
        background-color: #e6cace;
    }
}
