.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    transition: all 0.2s ease;
    overflow: hidden;
    z-index: 999;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fade 0.2s linear;
    z-index: 998;
}

.right {
    right: 0;
    animation: transformRight 0.2s ease-in-out;
}

.left {
    left: 0;
    animation: transformLeft 0.2s ease-in-out;
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hideRight {
    animation: transformRightOut 0.2s ease-in-out;
}

.hideLeft {
    animation: transformLeftOut 0.2s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes transformRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes transformRightOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes transformLeft {
    0% {
        transform: translateX(-100%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}

@keyframes transformLeftOut {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(-100%);
        opacity: 1;
    }
}
