@import 'src/components/GlobalStyles/GlobalVariables';

.item-temporary {
    height: 900px;
    background-color: $header-color-a;
    padding: 50px;
    display: flex;
    justify-content: center;
    & > div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 6em;
        height: 18em;
    }
    span {
        width: 1em;
        height: 4em;
        background-color: $primary-color;
    }

    span:nth-of-type(1) {
        animation: grow 1s -0.45s ease-in-out infinite;
    }

    span:nth-of-type(2) {
        animation: grow 1s -0.3s ease-in-out infinite;
    }

    span:nth-of-type(3) {
        animation: grow 1s -0.15s ease-in-out infinite;
    }

    span:nth-of-type(4) {
        animation: grow 1s ease-in-out infinite;
    }

    @keyframes grow {
        0%,
        100% {
            transform: scaleY(1);
        }

        50% {
            transform: scaleY(2);
        }
    }
}

.news-item {
    background-color: $header-color-a;
    padding: 50px;
    margin-bottom: 40px;
    h1 {
        text-align: center;
        font-family: $font;
        font-size: 5rem;
        color: $primary-color;
    }

    h3 {
        text-align: right;
    }

    p {
        font-size: 2rem;
        text-align: justify;
    }

    img {
        width: 100%;
    }
}
