@import 'src/components/GlobalStyles/GlobalVariables';

.nav-bar {
    display: flex;
    align-items: center;
    flex: 1;
}
.nav-list {
    display: flex;
    padding: 0;
}

.nav-item {
    position: relative;
    margin: 0 10px;
    font-size: 1.6rem;
    font-weight: 600;

    a {
        &:hover {
            color: $primary-color;
        }
    }

    // &:first-child {
    //     a {
    //         color: $primary-color;
    //         font-size: 1.6rem;
    //     }
    // }
}

.active-abc {
    color: $primary-color;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 2px;
        width: 100%;
        background-color: $primary-color;
        animation: changeBars 0.2s ease;
    }
}

.normal {
    color: #444;
}
@keyframes changeBars {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
