@import 'src/components/GlobalStyles/GlobalVariables';

.wrapper {
    h3 {
        font-family: $font;
        color: $primary-color;
        text-align: center;
        font-size: 2.4rem;
        margin: 0;
        padding: 20px 0;
    }
}

.side-bar {
    border-radius: 4px;
    background-color: $header-color-a;

    .options-item {
        cursor: pointer;

        h4 {
            margin: 0;
            text-align: center;
            color: $primary-color;
            font-size: 2rem;
            font-family: $font;
            padding-bottom: 4px;
        }

        &:hover {
            // background-color: rgb(187, 207, 237);
        }

        &:hover > div {
            transform: scale(1.05);
            filter: brightness(105%);
        }

        &:focus > div {
            transform: scale(1.05);
            filter: brightness(105%);
        }
    }

    .options-item.active {
        // border: 3px solid $primary-color;
    }

    .wrapper-options {
        padding: 0 30px;
    }
}

.select-filter {
    float: right;
    h4 {
        color: $text-color;
        margin: 0;
        font-size: 2rem;
    }
    .filter {
        margin-top: 10px;
        text-align: center;
        color: $text-color;

        select {
            margin-top: 5px;
        }

        .select-box {
            margin-left: 5px;
            position: relative;
            display: inline-block;
            font-size: 18px;
            color: #60666d;
        }

        @keyframes HideList {
            from {
                transform: scaleY(1);
            }
            to {
                transform: scaleY(0);
            }
        }
    }
}

.content {
    .tags {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 8px;
        min-height: 50px;
        background-color: $header-color-a;

        h2 {
            margin: 0;
        }
    }
}

.products {
    margin: 20px 0;

    .end {
        text-align: center;
        color: $text-color;
    }
}
