@import 'src/components/GlobalStyles/GlobalVariables';

.wrapper {
    h3 {
        font-family: $font;
        color: $primary-color;
        text-align: center;
        font-size: 2.4rem;
        margin: 0;
        padding: 20px 0;
    }
}

.side-bar {
    min-height: 600px;
    background-color: $header-color-a;
    border-radius: 8px;
    .options-item {
        margin: 0 10px 5px 10px;
        border-radius: 50%;
        transition: all 1s ease;
        cursor: pointer;

        h4 {
            margin: 0;
            text-align: center;
            color: $primary-color;
            font-size: 2rem;
            font-family: $font;
            padding-bottom: 4px;
        }

        &:hover {
            // background-color: rgb(187, 207, 237);
        }

        &:hover > div {
            transform: scale(1.05);
            filter: brightness(105%);
        }

        &:focus > div {
            transform: scale(1.05);
            filter: brightness(105%);
        }
    }

    .options-item.active {
        border: 3px solid $primary-color;
    }
}

.content {
    .tags {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        min-height: 50px;
        background-color: $header-color-a;

        h2 {
            margin: 0;
        }
    }
}
